<%= simple_form_for @reserf, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :id_reserve %>
  <%= f.input :date_entry %>
  <%= f.input :date_out %>
  <%= f.input :amount_pay %>
  <%= f.association :car %>
  <%= f.association :parking %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reserves_path, :class => 'btn' %>
  </div>
<% end %>
